<div class="container">
  <img src="images/anne.jpg" alt=""><a href=""></a></img>
  <img src="images/romain.jpeg" alt=""><a href=""></a></img>
  <img src="images/seb.jpg" alt=""><a href=""></a></img>
</div>
